
@{
    ViewBag.Title = "XemPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Netflix.Models.Phim
<style>
    .bodyXemPhim {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .video-container {
        position: relative;
    }

    video {
        max-width: 100%;
    }

    #fullscreenButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: transparent;
        color: #fff;
        border: none;
        padding: 20px 20px;
        cursor: pointer;
        transform: none; /* Đặt transform về giá trị mặc định */
    }
</style>
<div class="bodyXemPhim">
    <div class="video-container">
        <iframe src="@Model.URLPhim" width="1080" height="480" allow="autoplay" id="video"></iframe>
        <button id="fullscreenButton"></button>
    </div>
    <script src="~/Content/PhimJava/PhongTo.js"></script>
</div>